TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
FIREBASE_PROJECT_ID=kidsafe-collidev-securit-74307
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
NEXO_ALLOWED_ORIGINS=https://collicellilondon.github.io,http://localhost:4187,http://127.0.0.1:4187
